* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  transition: all 0.6s ease;
}

@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700|Source+Sans+Pro:400,700");

.headers,
.splash {
  padding: 15px;
}

.block {
  display: block;
}
a {
  cursor: pointer;
}
.contenedor {
  height: 400px !important;
  width: 100% !important;
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 100;
}
.splash {
  position: absolute !important;
  height: 400px !important;
  width: 100% !important;
  background-image: url(../img/20170508174130-fiesta-oficina.jpeg) !important;
  background-position: center !important;
  background-size: cover !important;
}

.tits {
  position: absolute !important;
  height: 40% !important;
  width: 80% !important;
  padding: 20px !important;
  background-color: rgba(245, 128, 180, 0.7) !important;
  color: white !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.metz {
  position: absolute;
  right: 50px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 0, 0.5);
  z-index: 50;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 26pt;
  font-family: monospace;
  font-weight: 700;
}

.fl {
  float: left;
}
/* .container {
  display: flex;
  flex-direction: row;
} */
.productos {
  display: flex;
  flex-direction: row;
}
.detalle {
  position: relative;
  /* display: inline-block; */
}
.cont1 {
  flex: 1;
}
.cont2 {
  flex: 2;
}
h2.regresar {
  position: absolute;
  bottom: 71%;
  left: 3%;
  letter-spacing: 1px;
  color: white;
  z-index: 4;
}
img.regresar {
  position: absolute;
  bottom: 70%;
  left: -15px;
  padding: 0.4em 0.4em 0.4em 1.2em;
  letter-spacing: 1px;
  width: 23em;
  z-index: 3;
}
.lonk {
  text-decoration: none;
  color: white;
  font-weight: 620;
}
.lonk:hover {
  color: #737070;
}
.link{
    text-decoration: none;
      color: #C0BFBF;
    font-weight: 600;
}
.link:hover{
  color: cadetblue;
}
.productos {
  display: flex;
  flex-direction: row;
}

.cont1 {
  flex: 1;
}
.cont2 {
  flex: 2;
} /*
.br {border: solid 2px red;}
.br:nth-child(even) {border: solid 2px lightgreen;}*/

.logo {
  justify-content: center;
  align-items: center;
  height: 80px;
  display: flex;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
}
.menu {
  flex: 2;
}

.hidden {
  display: none;
}

.flecha {
  font-size: 30px;
  color: rgba(170, 143, 83, 1);
}
/******************* COLORES *******************/

body {
  color: dimgray;
  padding: 0;
  width: 95%;
  max-width: 1650px;
  margin: auto;
}
.oro100 {
  background-color: rgba(170, 143, 83, 1);
  color: white !important;
}
.oro80 {
  background-color: rgba(170, 143, 83, 0.8);
  color: white !important;
}
.oro60 {
  background-color: rgba(170, 143, 83, 0.6);
  color: white !important;
}
.gris1 {
  background-color: rgba(128, 128, 128, 1);
  color: white !important;
}
.gris2 {
  background-color: rgba(77, 77, 77, 1);
  color: white !important;
}
.toro {
  color: rgba(170, 143, 83, 1) !important;
}

.blanco {
  border: solid 2px rgba(170, 143, 83, 1);
  background-color: white;
}

/******************* ANCHOS **************/
.col-12 {
  width: 100%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66%;
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: 33.33%;
}
.col-3 {
  width: 25%;
}

/******************* ALTURAS **************/

.h690 {
  height: 690px;
}
.h836 {
  height: 765px;
  text-align: center;
}
.h185 {
  height: 185px;
}
.h80 {
  height: 80px;
}
.publi {
  width: 80%;
  height: 80%;
}

.crop-333 {
  object-fit: cover;
  height: 333px;
}

.img1 {
  background-image: url(../img/image1.jpg);
  background-size: cover;
  background-position: center;
}
/******************* ALTURAS **************/

li {
  float: left;
  list-style: none;
}

/******************* ENCABEZADOS Y SUBTITULOS *******************/
.bold {
  font-weight: 900;
}
.fit {
  font-weight: 200;
}
h1,
h2,
h3,
h4,
h5,
h6,
.sub16,
.boton {
  font-family: "Quicksand", sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
}

h1 {
  font-size: 50pt;
  font-weight: 300; /*light*/
  letter-spacing: 5px;
}
h2 {
  font-size: 24pt;
  font-weight: 400;
  letter-spacing: 5px;
}
h3 {
  font-size: 18pt;
  font-weight: 400; /*regular*/
  letter-spacing: 1px;
}
h4 {
  font-size: 16pt;
  font-weight: 500;
  letter-spacing: 0px;
}
h5 {
  font-size: 12pt;
  font-weight: 500; /*MEDIUM*/
  letter-spacing: 0px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h6 {
  font-size: 12pt;
  font-weight: 700; /*bold*/
  letter-spacing: 0px;
  margin-top: 0.5em;
}
.boton {
  font-size: 12pt;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}
.sub16 {
  font-size: 16pt;
  font-weight: 400;
  letter-spacing: 5px;
}

/******************* TEXTO / BOTONES / ANOTACIONES *******************/
.cuerpo1,
.sub14,
.cuerpo2,
.anotacion {
  font-family: "Source Sans Pro", sans-serif;
}

.cuerpo1 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12pt;
  font-weight: 400;
  letter-spacing: 0px;
}
.cuerpo2 {
  font-size: 10pt;
  font-weight: 700;
  letter-spacing: 1px;
}
.anotacion {
  font-size: 9pt;
  font-weight: 400;
  text-transform: uppercase;
}
.sub14 {
  font-size: 10pt;
  font-weight: 700;
  letter-spacing: 5px;
}

.lnh {
  line-height: 1.4em;
} /*interlineado oó separación entre líneas de texto*/

.pd10 {
  padding: 10px;
}

.md-12 {
  margin: auto;
  width: 100%;
  height: auto;
  position: relative;
  float: left;
  padding: 10px;
}
.md-8 {
  width: 66.6%;
  float: left;
  padding: 20px;
}
.md-6 {
  width: 50%;
  float: left;
}
.md-4 {
  width: 33.3%;
  float: left;
  padding: 10px;
}
.bbrr {
  border-bottom-right-radius: 15px;
  background-color: rgba(128, 128, 128, 1);
  color: white;
  float: right;
  margin-left: 5px;
  text-align: center;
}
.bbrr:hover {
  background-color: rgba(77, 77, 77, 1);
}
.bbrr:active {
  background-color: rgba(170, 143, 83, 0.6);
  color: white !important;
}
.btlr {
  border-top-left-radius: 15px;
  background-color: rgba(128, 128, 128, 1);
  color: white;
}

p {
  padding-top: 20px;
}
.notop {
  margin-top: 0px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mb-min {
  margin-bottom: 0.1em;
}
.cvl {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*****diseño del navbar******/
.ancho {
  width: 100%;
  height: 80;
  background: gray;
  margin: auto;
}
header {
  width: 100%;
  height: 90px;
  background: white;
}
.navlogo {
  width: 35%;
  height: 90px;
  background: white;
  float: left;
  padding-top: -10px;
  box-sizing: border-box;
}
nav {
  background: transparent;
  float: right;
  text-align: right;
  padding-top: 45px;
  box-sizing: border-box;
}
.navlogo p a img {
  padding-top: -5px;
  padding-left: 5px;
}
nav ul li {
  display: inline;
}
.ancho nav ul li a {
  font-size: 15px;
  text-decoration: none;
  padding-left: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c1a152;
  font-family: Quicksand;
  float: left;
}
nav ul li a:hover {
  color: #dcceb2;
}
.ancho nav a {
  float: right;
  font-size: 15px;
  text-decoration: none;
  padding-left: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #adaba7;
  background: white;
  font-family: Quicksand;
  padding-top: -10px;
}

/*  ------------HOME----------------      */

.banner {
  width: 100%;
  height: 550px;
  animation: banner 20s infinite alternate;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  align-items: center;
}
@keyframes banner {
  0%,
  20% {
    background-image: url(../img/gal039.jpg);
  }
  25%,
  50% {
    background-image: url(../img/gal010.jpg);
  }
  55%,
  75% {
    background-image: url(../img/gal016.jpg);
  }
  80%,
  100% {
    background-image: url(../img/gal035.jpg);
  }
}
.capa {
  width: 100%;
  height: 200%;
  position: fixed;
  top: 0;
  left: 0;
}
.info {
  z-index: 1;
  width: 100%;
  height: 25%;
  max-width: 1500px;
  text-align: center;
  background-color: rgba(170, 143, 83, 0.9) !important;
}

.info h2 {
  padding-top: 5px;
  font-size: 35px;
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.selects {
  padding-top: -10px;
  color: #737070;
  font-size: 20px;
  border-radius: 2px;
  border-color: #797070;
  letter-spacing: 2px;
  position: flex;
}
.colorcombo {
  color: #737070;
  font-size: 17px;
}
.botonbusqueda {
  font-size: 15pt;
  width: 20%;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  background-color: grey;
  border-radius: 20px;
  border: none;
  padding: 5px 5px;
}
.bannercat {
  width: 100%;
  height: 200px;
  background-image: url(../img/promo.jpg);
  background-size: 100% 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.infos {
  z-index: 1;
  width: -webkit-fill-available;
  height: 35%;
  background-color: rgba(170, 143, 83, 0.9) !important;
}
.infos h2 {
  padding-top: 5px;
  font-size: 35px;
  color: #fff;
  margin-bottom: 5px;
  letter-spacing: 2px;
}
.bannercate {
  width: 100%;
  height: 200px;
  background-image: url(../img/20170508174130-fiesta-oficina.jpeg);
  background-size: 100% 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.escrit {
  color: #c1a152;
  font-family: Quicksand;
}
.escrits {
  font-family: Quicksand;
  color: #c1a152;
  font-size: 55px;
}
.parrafos {
  font-family: Quicksand;
  color: gray;
  font-size: 20px;
}

/*****diseño del login******/
.body-login {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}
a:hover {
  color: #d4b66a
}
* {
  box-sizing: border-box;
}
.contenedors {
  width: 100%;
  padding: 15px;
}
.formulario {
  background: #fff;
  margin-top: 150px;
  padding: 3px;
}
.h1 {
  text-align: center;
  background-color: rgba(170, 143, 83, 0.6);
  color: white !important;
  font-size: 40px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: none;
}
.input-contenedor {
  margin-bottom: 15px;
  border: 1px solid #aaa;
}
.input-contenedor-pro {
  margin-bottom: 15px;
  border-top-left-radius: 40px;
  border:2px solid rgba(170,143,83,1);
  width: 100%;
  background:rgba(170,147,80,1.1); 
  z-index: 1;
  color: white;
}
.input-contenedor-basic{
    margin-bottom: 15px;
    border:2px solid rgba(170,143,83,1);
    width: 100%;
}
.input-contenedors {
  margin-bottom: 15px;
  border: 1px solid rgba(170, 143, 83, 0.9);
}
.input-contenedor:hover {
  border: 1px solid #faaf3c;
}
.icon {
  min-width: 50px;
  text-align: center;
  color: #999;
}
.button {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background-color: rgba(170, 143, 83, 0.6);
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background: cadetblue;
}
.p {
  text-align: center;
}
.link {
  text-decoration: none;
  color: #c0bfbf;
  font-weight: 600;
}
.lonk {
  text-decoration: none;
  color: white;
  font-weight: 620;
}
.lonk:hover {
  color: #737070;
}
.link:hover {
  color: cadetblue;
}
@media (min-width: 768px) {
  .formulario {
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;
  }
}

/* MODALS */
.modal-body input{
  width: 100%;
}
.modal-body select{
  margin: 1em;
}
.modal-footer button[type="submit"]{
  background-color:rgba(170, 143, 83, 0.6);
  border-color: white;
}
div.modal#editPubModal {
  z-index: 101;
}
div.modal#myPubsModal {
  z-index: 100;
}
div.modal#confirmDeleteModal {
  z-index: 102;
  max-width: 300px;
}
@media (min-width: 576px) {
  div.modal#myPubsModal .modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
  }
}

/* Editar Publicacion (modal) */
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.wrapper .box {
  border-radius: 1em;
  padding: 1em;
  text-align: center;
  cursor: pointer;
}
.wrapper .box#b13{
  grid-row: 1;
  grid-column: 1 / 3;
}
.wrapper .box#b35{
  grid-row: 1;
  grid-column: 3 / 5;
}
.wrapper .box#b15{
  grid-row: 2;
  grid-column: 1 / 5;
}
.wrapper .box h3, .wrapper .box h5 {
  margin-top: 0;
  margin-bottom: 0;
}
.wrapper .box:hover h3, .wrapper .box:hover h5 {
  color:rgba(170, 143, 83, 0.9);
}

/* MEJORAR PUBLICACION */
#upgradePubModal .input-group {
  margin-bottom: 0.5em;
}
#upgradePubModal .input-group-text {
  height: 44px;;
}
#upgradePubModal input[type=radio] {
  width: 20px;
}
#resultModal h3, #resultModal h5 {
  text-align: center;
}

/* ----------- FOOTER -------------------*/
footer{
	
	width: 100%;
	max-width: 1980px;
	background-color:white;
	color:#c8bfa4;
	
}
footer *{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
	font-family: sans-serif; 
}
footer .container-body{
	display: flex;
}
footer .control{
	display: flex;
	width:100%;
}
footer .columna3{
  display: flex;
  float: right;
	margin: 120px 0px 0px auto;
}
footer h1#fcorreos {
	font-size:18px; 
}
footer h2#fredes {
	font-size:12px; 
  letter-spacing: 2px;
  margin-top: 1em;
  margin-bottom: 1em;
}
footer .columna1{
	font-size: 10px;
	margin:auto;
}
footer .columna2{
	font-size: 10px;
	margin:auto;
}
footer .redesicono{
	display: flex;
}
footer .columnaportal{
  margin:100px 0 20px 50px;
  float: left;
}
footer .inCorreos input[type="text"]{
	font-size: 20px;
}
footer a:link{
	color:#c8bfa4;
}
footer a:visited {
	color:#c8bfa4;
}
footer a:active {
	color:#c8bfa4;
}
footer a:hover{
	color:#c8bfa4;
}
input[type="submit"]#fsnews{
	font-size: 20PX;
	color:gray;
	border-radius:8px;
}
footer A {text-decoration: none;}

/* ------------- NEW POST -----------------*/
.borde-dropzone{
  border: 2px dashed #47a447 !important;
  border-radius: 5px !important;
  background: white !important;
  cursor: pointer;
}

/* ----------PAGINA 7---------------------*/

/* ----------FIN PAGINA 7---------*/

@media screen and (max-width: 960px) {
  /* .container {
    flex-direction: column;
  } */
  .cont2 {
    flex: 2;
  }

  .md-12,
  .md-8,
  .md-4,
  .md-6,
  body {
    width: 100%;
  }
}
