<h1>Bienvenido a Portal de Eventos</h1>
<h4>

    These terms and conditions outline the rules and regulations for the use of Portal de Eventos's Website.
</h4>
 <h4>Portal de Eventos is located at:</h4>
 </h4>Las Camelias 1158 Pilar, Pilar, BUENOS AIRES - 1665, Argentina</h4>
 </h4>By accessing this website we assume you accept these terms and conditions in full. Do not continue to use
Portal de Eventos's website
 if you do not accept all of the terms and conditions stated on this page.</h4>
 <h4>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer
Notice
 and any or all Agreements:</h4> <h4>“Client”, “You” and “Your” refers to you, the person accessing this website
 and accepting the Company’s terms and conditions.</h4><h4> “The Company”, “Ourselves”, “We”, “Our” and “Us”,
refers
 to our Company.</h4><h4> “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client
 or ourselves.</h4> <h4>All terms refer to the offer, acceptance and consideration of payment necessary to undertake
 the process of our assistance to the Client in the most appropriate manner, whether by formal meetings
 of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect
 of provision of the Company’s stated services/products, in accordance with and subject to, prevailing law
 of Argentina.</h4><h4>Any use of the above terminology or other words in the singular, plural,
 capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to
same.</h4><h4>Cookies</h4>
 <h4>We employ the use of cookies.</h4><h4> By using Portal de Eventos's website you consent to the use of cookies
 in accordance with Portal de Eventos’s privacy policy.</h4><h4>Most of the modern day interactive web sites
 use cookies to enable us to retrieve user details for each visit.</h4><h4> Cookies are used in some areas of our site
 to enable the functionality of this area and ease of use for those people visiting.</h4><h4> Some of our
 affiliate / advertising partners may also use cookies.</h4><h4>License
 Unless otherwise stated, Portal de Eventos and/or it’s licensors own the intellectual property rights for
 all material on Portal de Eventos.</h4><h4> All intellectual property rights are reserved.</h4><h4> You may view and/or print
 pages from http://www.portaldeeventos.com for your own personal use subject to restrictions set in these
terms and conditions.</h4><h4>
 You must not:</h4><h4>
 Republish material from http://www.portaldeeventos.com</h4><h4>
 Sell, rent or sub-license material from http://www.portaldeeventos.com</h4><h4>
 Reproduce, duplicate or copy material from http://www.portaldeeventos.com</h4><h4>
 Redistribute content from Portal de Eventos (unless content is specifically made for redistribution).</h4><h4>
Hyperlinking to our Content</h4><h4></h4>
 The following organizations may link to our Web site without prior written approval:</h4><h4></h4>

 Government agencies;</h4><h4>
 Search engines;</h4><h4>
 News organizations;</h4><h4>
 Online directory distributors when they list us in the directory may link to our Web site in the same
 manner as they hyperlink to the Web sites of other listed businesses;</h4><h4> and
 Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls,
 and charity fundraising groups which may not hyperlink to our Web site.</h4><h4>