<div class="modal fade" id="myPubsModal" tabindex="-1" aria-labelledby="myPubsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myPubsModalLabel">Mis Publicaciones</h5>
      </div>
      <div class="modal-body">
        <div id="mispublis" class="container"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
      </div>
    </div>
  </div>
</div>