<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <form id="editProfileForm" onsubmit="saveEditProfile(); return false">
        <div class="modal-header">
          <h5 class="modal-title" id="resultModalLabel">Modificar Perfil</h5>
        </div>
        <div class="modal-body">
          <div id="editProfileBody"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="editToRmUser()">Eliminar</button>
            <button type="button" class="btn btn-secondary" onclick="editToProfile()">Cancelar</button>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>