<div class="modal fade" id="rmProfileModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultModalLabel">Eliminar Usuario</h5>
      </div>
      <div class="modal-body">
        <h3 class="text-center">¿Está seguro que desea eliminar este usuario?</h3>
        <h3 class="text-center">Se eliminaran todas sus publicacions</h3>
        <h4 class="text-center">Puede indicarnos el motivo de su marcha</h4>
        <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Puede aqui explicar sus razones ..."></textarea>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="rmProfileToEdProfile()">Cerrar</button>
          <button type="button" class="btn btn-danger" onclick="rmProfile()">Eliminar</button>
      </div>
    </div>
  </div>
</div>