<footer>
  <div class="container-body">
    <dir class="columnaportal">
      <img src="./img/2- LOGO.png">
      <dir class="control">
        <div class="columna1">
          <div class="row">
            <a href="categorias.html"> CATEGORIAS</a>
          </div>
          <div class="row">
            <a href="salones.html"> SALONES</a> 
          </div>
          <div class="row">
          <a href="imagenpersonal.html"> IMAGEN PERSONAL</a>
          </div>
          <div class="row">
          <a href="contacto.html"> CONTACTO</a>
          </div>
        </div>
        <div class="columna2">
          <div class="row">
            <a href="./view/public/legales/politica_privacidad.html">  AVISOS LEGALES</a>
          </div>
          <div class="row">
            <a href="./view/public/legales/terminos_condiciones.html">  TERMINOS Y CONDICIONES</a> 
          </div>
          <div class="row">
          <a href="trabaja.html">  TRABAJA CON NOSOTROS</a>
          </div>
          <div class="row">
            <a href="anunciar.html"> ANUNCIA EN EL PORTAL</a>
          </div>
        </div>
      </dir>
    </dir>
      <div class="columna3">
        <div class="inCorreos">
          <h1 id="fcorreos">Newsletter y Promociones</h1>
           <input type="text" name="correos"size="40" placeholder="Dejanos tu correo y recibi las ultimas noticias!">
           <input type="submit" name="boton" value="SUSCRIBIRSE" id="fsnews">
           <h2 id="fredes" class="c0">Seguinos en nuestras redes sociales</h2>
              <div class="redesicono">
                
               <div class="c1">
                 <a href="aaa.html"><i class="fas fa-envelope icon"></i></a>
               </div>
               <div class="c2">
               <a href="aaa.html"> <i class="fab fa-instagram icon"></i></a>
               </div>
               <div class="c3">
                <a href="aaa.html"> <i class="fab fa-facebook icon"></i></a>
               </div>
               <div class="c4">
                <a href="aaa.html"> <i class="fab fa-twitter-square icon"></i></a>
                </div>
                  <div class="c5">
                <a href="aaa.html"> <i class="fab fa-pinterest icon"></i></a>
               </div>
               <div class="c6">
               <a href="aaa.html"> <i class="fab fa-linkedin icon"></i></a>
               </div>
              </div>
        </div>
      </div>
  </div>
</footer>