<footer>
  <div class="container-body">
    <dir class="columnaportal">
      <img src="./img/2- LOGO.png">
      <dir class="control">
        <div class="columna1">
          <div class="row">
            <a href="?section=categorias&tipo=servicios"> SERVICIOS</a>
          </div>
          <div class="row">
            <a href="?section=categorias&tipo=salon"> SALONES</a> 
          </div>
          <div class="row">
          <a href="?section=imagen"> IMAGEN PERSONAL</a>
          </div>
          <div class="row">
          <a href="?section=contacto"> CONTACTO</a>
          </div>
        </div>
        <div class="columna2">
          <div class="row">
            <a href="./view/public/legales/politica_privacidad.html">  AVISOS LEGALES</a>
          </div>
          <div class="row">
            <a href="./view/public/legales/terminos_condiciones.html">  TERMINOS Y CONDICIONES</a> 
          </div>
          <div class="row">
          <a href="?section=contacto&subs=trabaja">  TRABAJA CON NOSOTROS</a>
          </div>
          <div class="row">
            <a href="./login/"> ANUNCIA EN EL PORTAL</a>
          </div>
        </div>
      </dir>
    </dir>
      <div class="columna3">
        <div class="inCorreos">
          <h1 id="fcorreos">Newsletter y Promociones</h1>
           <input type="text" name="correos"size="40" placeholder="Dejanos tu correo y recibi las novedades!">
           <input type="submit" class="btn" name="boton" value="SUSCRIBIRSE" id="fsnews">
           <h2 id="fredes" class="c0">Seguinos en nuestras redes sociales</h2>
              <div class="redesicono">
                
               <div class="c1">
                 <a href="mailto:portalservicioseventos@outlook.com"><i class="fas fa-envelope icon"></i></a>
               </div>
               <div class="c2">
               <a href="https://www.instagram.com/"> <i class="fab fa-instagram icon"></i></a>
               </div>
               <div class="c3">
                <a href="https://www.facebook.com/"> <i class="fab fa-facebook icon"></i></a>
               </div>
               <div class="c4">
                <a href="https://twitter.com/home"> <i class="fab fa-twitter-square icon"></i></a>
                </div>
                  <div class="c5">
                <a href="https://ar.pinterest.com/"> <i class="fab fa-pinterest icon"></i></a>
               </div>
               <div class="c6">
               <a href="https://ar.linkedin.com/"> <i class="fab fa-linkedin icon"></i></a>
               </div>
              </div>
        </div>
      </div>
  </div>
</footer>