	<div class="banner">
		<div class="info">
			<h2>ENCONTRÁ TODO PARA TU EVENTO</h2>
			<form class="form-inline my-2 my-md-0">
				<div>
					<select name="zonas" class="selects form-control">
						<option>Zona: San MIguel</option>
						<option>Zona: caca</option>
						<option>Zona: pipi</option>
					</select>
					<select name="Busqueda" class="selects form-control">
						<option>¿Que estas buscando</option>
						<option>caca</option>
						<option>pipi</option>
					</select>
					<button type="submit" class="btn btn-light" value="buscar">🔍Buscar</button>
				</div>
			</form>
		</div>
	</div>