    <nav class="navbars navbar-expand-lg navbar-dark bg-darks" id="minisearch">
      <div class="container-barrabusqueda">
      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a href="" class="nav-link icons"><i class="far fa-lightbulb"></i></a>
             <a href="" class="nav-link icons"><i class="fas fa-tags"></i></a>
             <a href="" class="nav-link icons"><i class="far fa-calendar-check"></i></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <h2><a class="fuente">NUEVA BÚSQUEDA:</a></h2>
          <select name="zonas" class="form-control colorcombos">
            <option value="pilar">Zona: San Miguel</option>
            <option>caca</option>
            <option>pipi</option>
          </select>
          <label class="toro">""</label>
          <select name="item" class="form-control colorcombos">
            <option value="pilar">¿Que estas buscando?</option>
            <option>caca</option>
            <option>pipi</option>
          </select>
          <label class="toro">" "</label>
          <button type="submit"value="buscar" class="btn btn-lights"><i class="fas fa-search"></button>
        </form>
      </div>
    </div>
    </nav>