<div class="banner-promos">
  <div class="infoprom">
   <h1><a>Promociones</a></h1>
</div>
</div>
<p></p>
   <div class="anchosprom">
<div class="row row-cols-1 row-cols-md-2">

  <div class="col mb-4">
    <div class="card">
      <img src="../img/gal021.jpg" class="card-img" alt="..." height="600">
      <div class="card-img-overlay">
      	<div class="posicioncard">
      		<div class=" infocard">
      			<div class="posicionico">
      			<div class="tiposer">
      			<h5 class="gris1">Catering</a></h5>
         	  </div>
         	  <img src="../img/gal045.jpg"height="50" width="50">
         	</div>
         	   <p class="cardfont">15% de descuento por persona</p>
<div class="input-contenedor-promo">
<h2 class="gris1 h2"><a href="" class="otrafuente fuente">COTIZAR YA!</a></h2>
</div>
<p class="card-text">Promocion valida hasta 17/12/2020</p>
</div>
</div>
</div>
</div>
</div>

  <div class="col mb-4">
    <div class="card">
      <img src="../img/gal021.jpg" class="card-img" alt="..." height="600">
      <div class="card-img-overlay">
      	<div class="posicioncard">
      		<div class=" infocard">
      			<div class="posicionico">
      			<div class="tiposer">
      			<h5 class="gris1 ">Catering</a></h5>
         	  </div>
         	  <img src="../img/gal045.jpg"height="50" width="50">
         	</div>
         	   <p class="cardfont">15% de descuento por persona</p>
<div class="input-contenedor-promo">
<h2 class="gris1 h2"><a href="" class="otrafuente fuente">COTIZAR YA!</a></h2>
</div>
<p class="card-text">Promocion valida hasta 17/12/2020</p>
</div>
</div>
</div>
</div>
</div>

  <div class="col mb-4">
    <div class="card">
      <img src="../img/gal021.jpg" class="card-img" alt="..." height="600">
      <div class="card-img-overlay">
      	<div class="posicioncard">
      		<div class=" infocard">
      			<div class="posicionico">
      			<div class="tiposer">
      			<h5 class="gris1 ">Catering</a></h5>
         	  </div>
         	  <img src="../img/gal045.jpg"height="50" width="50">
         	</div>
         	   <p class="cardfont">15% de descuento por persona</p>
<div class="input-contenedor-promo">
<h2 class="gris1 h2"><a href="" class="otrafuente fuente">COTIZAR YA!</a></h2>
</div>
<p class="card-text">Promocion valida hasta 17/12/2020</p>
</div>
</div>
</div>
</div>
</div>

  <div class="col mb-4">
    <div class="card">
      <img src="../img/gal021.jpg" class="card-img" alt="..." height="600">
      <div class="card-img-overlay">
      	<div class="posicioncard">
      		<div class=" infocard">
      			<div class="posicionico">
      			<div class="tiposer">
      			<h5 class="gris1 ">Catering</a></h5>
         	  </div>
         	  <img src="../img/gal045.jpg"height="50" width="50">
         	</div>
         	   <p class="cardfont">15% de descuento por persona</p>
<div class="input-contenedor-promo">
<h2 class="gris1 h2"><a href="" class="otrafuente fuente">COTIZAR YA!</a></h2>
</div>
<p class="card-text">Promocion valida hasta 17/12/2020</p>
</div>
</div>
</div>
</div>
</div>

</div>


<div class="fuente-prom">
<h2 class="gris1 h2"><a href="" class="otrafuente fuente-prom">CARGAR MAS</a></h2>
</div>