<div class="ancho">
<div class="bannersalon">
  <div class="infosalon">
   <h1><a>Salones</a></h1>
</div>
</div>
<p></p>
<div class="anchosalon">
<div class="row row-cols-1 row-cols-md-4">

  <div class="col mb-4">
    <div class="cards">
      <img src="../img/gal045.jpg" class="card-img-salon " alt="..." height="300">
      <div class="card-img-overlay infocards">
             <p class="cardfonts">15% de descuento por persona</p>
           </div>
         </div>
       </div> 

  <div class="col mb-4">
    <div class="cards">
      <img src="../img/gal045.jpg" class="card-imgs " alt="..." height="300">
      <div class="card-img-overlay infocards">
             <p class="cardfonts">15% de descuento por persona</p>
           </div>
         </div>
       </div> 

         <div class="col mb-4">
    <div class="cards">
      <img src="../img/gal045.jpg" class="card-imgs " alt="..." height="300">
      <div class="card-img-overlay infocards">
             <p class="cardfonts">15% de descuento por persona</p>
           </div>
         </div>
       </div> 

         <div class="col mb-4">
    <div class="cards">
      <img src="../img/gal045.jpg" class="card-imgs " alt="..." height="300">
      <div class="card-img-overlay infocards">
             <p class="cardfonts">15% de descuento por persona</p>
           </div>
         </div>
       </div> 
       

  </div>

</div>
</div>
