<div class="modal fade" id="contactoModal" tabindex="-1" aria-labelledby="contactoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <form id="contactoForm" onsubmit="enviarContacto(); return false">

        <div class="modal-header">
          <h5 class="modal-title" id="contactoModalLabel">Contacto</h5>
        </div>

        <div class="modal-body">
          


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dimiss="modal">Cancelar</button>
          <button type="submit" class="btn oro100">Enviar</button>
        </div>

      </form>
    </div>
  </div>
</div>