    <nav class="navbars navbar-expand-lg navbar-dark bg-darks" id="minisearch">
      <div class="container-barrabusqueda">
      <div class="collapse navbar-collapse" id="navbarsExample07">
        <!-- <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a href="" class="nav-link icons"><i class="far fa-lightbulb"></i></a>
             <a href="" class="nav-link icons"><i class="fas fa-tags"></i></a>
             <a href="" class="nav-link icons"><i class="far fa-calendar-check"></i></a>
          </li>
        </ul> -->
        <form class="form-inline my-2 my-md-0">
          <!-- <h2><a class="fuente">BÚSQUEDA:</a></h2>
          <label class="toro">""</label>
          <select class="selectpicker form-control zonas" data-style="input-contenedor" data-width="10rem" title="Zona" name="zonas" data-live-search="true">
          </select>
          <label class="toro">""</label>
          <select class="selectpicker form-control" data-style="input-contenedor" data-width="10rem" title="Tipo" name="tipo" data-live-search="false" required>
            <option value="servicios">Servicios</option>
            <option value="salon">Salones</option>
          </select>
          <label class="toro">""</label>-->
          <input type="text" name="buscando" id="buscando" placeholder="Busqueda" >
          <label class="toro">" "</label>
          <button type="button" name="section" value="search" class="bblr border-0" onclick="cargarBusqueda()"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
    </nav>