<div id="login">
    
        <h4 class="h1">Inicia sesion</h4>
        <div class="contenedors">
        
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="text" placeholder="Correo Electronico" required="">
            </div>
            
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Contraseña" required="">         
            </div>
            <input type="submit" value="Ingresa" class="button">
            <!-- <div class="g-signin2 button" data-onsuccess="onSignIn"></div> -->
            <p>¿No tienes una cuenta? <a class="link" onclick="mostrarReg()">Registrate </a></p>
            <p><a class="link" href="../">Volver al inicio</a></p>
        </div>
</div>