<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="../css/tipsycolores.css">
	

</head>  
<body class="body-login">
    <form class="formulario">
    
    <h4 class="h1">Inicia sesion</h4>
     <div class="contenedors">
     
     
         
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input type="text" placeholder="Correo Electronico" required="">
         
         </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input type="password" placeholder="Contraseña" required="">
         
         </div>
         <input type="submit" value="Ingresa" class="button">
         <p>¿No tienes una cuenta? <a class="link" href="registrousers.html">Registrate </a></p>
         <p>¿Quieres creecer en tu negocio?<a class="link" href="registroempresas.html">Unetenos</a></p>
         <p><a class="link"href="loginempresa.html">Ingresa como empresario</a></p>
     </div>
    </form>
</body>
</html>