<div id="regi" class="hidden">
    <form id="regi" class="formulario" method="POST" action="./register.php" onsubmit="return registro()">
        <h4 class="h1">Registrate</h4>
        <div id="regi1" class="contenedors">
            <h4 class="hidden" id="failreg" style="color: brown;">Ocurrio un error en el registro. Verifique sus datos.</h4>
            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" placeholder="Nombre de la Empresa" name="name" pattern="[A-Za-z0-9 ñ]{3,20}" required>
            </div>           
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="email" placeholder="Correo Electronico" id="email" name="email" required>
            </div>
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="email" placeholder="Confirmar Correo Electronico" id="cemail" required>
            </div>
            <h6 class="hidden" id="duplicatemail" style="color: brown;">El correo ya está registrado</h6>
            <h6 class="hidden" id="nocoinem" style="color: brown;">Los correos no coinciden</h6>
            <div class="input-contenedor">
                <i class="fas fa-mobile icon"></i>
                <input type="tel" placeholder="Numero telefonico" name="tel" required>   
            </div>
            <div class="input-contenedor">
                <i class="fab fa-facebook icon"></i>
                <input type="text" placeholder="Usuario de facebook (opcional)" name="fb" pattern="([A-Za-z0-9ñ_]{0,20})">  
            </div>
            <div class="input-contenedor">
                <i class="fab fa-instagram icon"></i>
                <input type="text" placeholder="Usuario de instagram (opcional)" name="ig" pattern="@([A-Za-z0-9ñ_]{0,16})"> 
            </div>
            <div class="input-contenedor">
                    <i class="fab fa-twitter-square icon"></i>
                <input type="text" placeholder="Usuario de twitter (opcional)" name="tw" pattern="@([A-Za-z0-9ñ_]{0,16})">  
            </div>
            <div class="input-contenedor">
                <i class="fas fa-sitemap icon"></i>
                <input type="text" placeholder="pagina web (opcional)" name="web" pattern="\b(?:(?:https?|ftp):\/\/|www\.)[-a-z0-9+&@#\/%?=~_|!:,.;]*[-a-z0-9+&@#\/%=~_|]"> 
            </div>  
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Contraseña" id="pass" name="pass" required>  
            </div>
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Repetir Contraseña" id="cpass" required>  
            </div>
            <h6 class="hidden" id="nocoinpas" style="color: brown;">Las contraseñas no coinciden</h6>
            <input type="submit" value="Registrate" class="button">
            <p class="p">
                Al registrarte, aceptas nuestras 
                <a href="../view/public/legales/terminos_condiciones.html" target="_blank">Condiciones de uso</a>
                 y 
                 <a href="../view/public/legales/politica_privacidad.html" target="_blank">Política de privacidad</a>.
            </p>
            <p class="p">
                ¿Ya tienes una cuenta? 
                <a class="link" onclick="mostrarLogin()">Iniciar Sesion</a>
            </p>
        </div>
        <div id="verifmail" class="container hidden">
            <h3 class="p">Verificación</h3>
            <h4>Enviamos un codigo de verificación a tu correo</h4>
            <h4>Introducelo para completar el registro</h4>
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="text" placeholder="Codigo" id="code" name="code" pattern="(?:[a-zA-Z0-9ñ]{6})?">
            </div>
            <input type="submit" value="Verificar" class="button">
            <h4 class="hidden" id="failverif" style="color: brown;">Codigo Incorrecto</h4>
        </div>
    </form>
</div>