<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Portal de eventos</title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="../css/tipsycolores.css">
	

</head>  
<body class="body-login-users">
 <form class="formulario">
    
    <h4 class="h1">Registrate</h1>
     <div class="contenedors">
     
     <div class="input-contenedor">
         <i class="fas fa-user icon"></i>
         <input type="text" placeholder="Nombre Completo" required="">
         
         </div>
         
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input type="text" placeholder="Correo Electronico" required="">
         
         </div>
        <div class="input-contenedor">
         <i class="fas fa-mobile icon"></i>
         <input type="text" placeholder="Numero telefonico" required="">
         
         </div>
           <div class="input-contenedor">
      <i class="fas fa-phone icon"></i>
         <input type="text" placeholder="Numero telefonico local" required="">
         </div>
         <div class="input-contenedor">
         <i class="fab fa-facebook icon"></i>
         <input type="text" placeholder="Usuario de facebook(opcional)">
         
         </div>
          <div class="input-contenedor">
         <i class="fab fa-instagram icon"></i>
         <input type="text" placeholder="Usuario de instagram(opcional)">
         
         </div>
        <div class="input-contenedor">
         <i class="fab fa-twitter-square icon"></i>
         <input type="text" placeholder="Usuario de twitter(opcional)">
         
         </div>
          <div class="input-contenedor">
          <i class="fas fa-sitemap icon"></i>
         <input type="text" placeholder="pagina web(opcional)">
         
         </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input type="password" placeholder="Contraseña" required="">
         
         </div>
         <input type="submit" value="Registrate" class="button">
         <p class="p">Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         <p class="p">¿Ya tienes una cuenta?<a class="link" href="login.html">Iniciar Sesion</a></p>
     </div>
    </form>
</body>
</html>