<form id="np">
    <div class="input-contenedor">
      <input type="text" placeholder="Titulo" name="nom" pattern="[a-zA-Z0-9]{5,20}" required> 
    </div>
    <div class="input-contenedor">
      <textarea name="desc" cols="60" rows="10" class="form-control" placeholder="Descripción" required></textarea>
    </div>
    <select class="selectpicker form-control" data-style="input-contenedor" data-width="100%" name="tipo" id="tipo" title="Seleccione el tipo de publicación" onchange="mostrarNewPost2()">
      <option value="servicios">Servicio</option>
      <option value="salon">Salón</option>
      <option value="newEvento">Evento</option>
      <option value="newImagenP">Imagen Personal</option>
      <option value="newTrabajo">Trabaja con Nosotros</option>
      <option value="newIdea">Ideas & Notas</option>
    </select>