<div class="hidden" id="newSalon">
    <div class="input-contenedor">
    <input type="text" placeholder="Capacidad de personas" name="cap" pattern="[0-9]{0,7}"> 
    </div>
    <select class="selectpicker form-control" data-style="input-contenedor" data-width="100%" name="zonasSalon" id="zonasSalon" data-live-search="true" title="Seleccione la zona donde se ubiuca su salon">
    </select>
    <select class="selectpicker form-control" data-style="input-contenedor" data-width="100%" name="tipoSalon" id="tiposSalon" data-live-search="true" title="Seleccione la opcion que mas se ajuste a su salon">
    </select>
    <select class="selectpicker form-control" data-style="input-contenedor" data-width="100%" name="espacios[]" id="espacios" multiple data-live-search="true" title="Busque espacios disponibles en su salon">
    </select>
    <select class="selectpicker form-control" data-style="input-contenedor" data-width="100%" name="servicios[]" id="servicios" multiple data-live-search="true" title="Busque servicios ofrecidos en su salon">
    </select>
</div>