<div class="modal fade" id="editPubModal" tabindex="-1" aria-labelledby="editPubModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPubModalLabel">Editar Publicación</h5>
      </div>
      <div class="modal-body">
        <div class="wrapper" id="edPubBody">
          <h3 class="text-center" id="tituPub"></h3>
          <div class="box border" id="gr-b" onclick="modificarDatos()">
            <h5>Modificar datos</h5>
          </div>
          <div class="box border" id="gr-c" onclick="editarFotos()">
            <h5>Editar Fotos</h5>
          </div>
          <div class="box border" id="gr-d" onclick="verPub()">
            <h5>Ver Publicación</h5>
          </div>
          <div class="box border" id="gr-e" onclick="mejorarPublicacion()">
            <h3>Mejorar Publicación</h3>
          </div> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="homeToDeletePub()">Eliminar</button>
        <button type="button" class="btn btn-secondary" onclick="editToMyPubs()">Regresar</button>
      </div>
    </div>
  </div>
</div>