<div class="modal fade" id="newOfertaModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form id="promos">
                <div class="modal-header">
                    <h5 class="modal-title" id="resultModalLabel">Resultado</h5>
                </div>
                <div class="modal-body">
                    <div class="input-contenedor">
                        <input type="text" placeholder="Titulo (ej: 15% de descuento por persona)" name="titulo" maxlength="30">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend"><i class="fas fa-calendar-alt"></i></div>
                        <input class="form-control" placeholder="Fecha Limite" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="fecha" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="promoToHome()">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="uploadPromo()">Subir Promoción</button>
                </div>
            </form>
        </div>
    </div>
</div>