<form action="." method="post" onsubmit="return newPost()">

  <div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="newPostModalLabel">Nueva publicación</h3>
        </div>
        <div class="modal-body">
          
          <div class="form-group">
            <div class="input-contenedor">
              <input type="text" placeholder="Nombre" name="nom" pattern="[a-zA-Z0-9]{5,20}" required> 
            </div>
            <div class="input-contenedor">
              <textarea name="desc" cols="60" rows="10" class="form-control" placeholder="Descripción" required></textarea>
            </div>
            <select class="selectpicker form-control" data-width="100%" name="tipo" id="tipo" title="Seleccione el tipo de publicación" onchange="mostrarNewPost2()">
              <option value="newServicio">Servicio</option>
              <option value="newSalon">Salón</option>
              <option value="newEvento">Evento</option>
              <option value="newImagenP">Imagen Personal</option>
              <option value="newTrabajo">Trabaja con Nosotros</option>
              <option value="newIdea">Ideas & Notas</option>
            </select>
            
            <div class="hidden" id="newServicio">
              <select class="selectpicker form-control" data-width="100%" title="Seleccione la zona donde se brinda su servicio" name="zonaServicio" id="zonasServicio" data-live-search="true" required>
              </select>
              <select class="selectpicker form-control" data-width="100%" name="tipoServicio" id="tiposServicio" data-live-search="true" title="Seleccione la opcion que mas se ajuste a su servicio" required>
              </select>
            </div>
            
            <div class="hidden" id="newSalon">
              <div class="input-contenedor">
                <input type="text" placeholder="Capacidad de personas" name="cap" pattern="[0-9]{1,7}" required> 
              </div>
              <select class="selectpicker form-control" data-width="100%" name="zonasSalon" id="zonasSalon" data-live-search="true" title="Seleccione la zona donde se ubiuca su salon" required>
              </select>
              <select class="selectpicker form-control" data-width="100%" name="tipoSalon" id="tiposSalon" data-live-search="true" title="Seleccione la opcion que mas se ajuste a su salon" required>
              </select>
              <select class="selectpicker form-control" data-width="100%" name="espacios" id="espacios" multiple data-live-search="true" title="Busque espacios disponibles en su salon" required>
              </select>
              <select class="selectpicker form-control" data-width="100%" name="servicios" id="servicios" multiple data-live-search="true" title="Busque servicios ofrecidos en su salon" required>
              </select>
            </div>
            <div class="hidden" id="newEvento">
              Evento. Lorem ipsum dolor sit amet consectetur.
            </div>
            <div class="hidden" id="newImagenP">
              Imagen Personal. Lorem ipsum dolor sit amet.
            </div>
            <div class="hidden" id="newTrabajo">
              Trabaja con nosotros. Lorem ipsum dolor sit amet.
            </div>
            <div class="hidden" id="newIdea">
              Ideas & Notas. Lorem ipsum dolor sit amet.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Subir publicación</button>
        </div>
      </div>
    </div>
  </div>
    
</form>