<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">Perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://static.vecteezy.com/system/resources/previews/000/550/731/non_2x/user-icon-vector.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <center><h5 class="card-title">Emir Orellana</h5></center>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Dni:44094767</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
                <center><p><a href="https://www.instagram.com/emirko.07/?hl=es-la"><img src="https://icons.iconarchive.com/icons/icons8/ios7/48/Logos-Instagram-icon.png"> </a><a href=""><img src="https://icons.iconarchive.com/icons/danleech/simple/48/facebook-icon.png"></a> <a href=""><img src="https://icons.iconarchive.com/icons/limav/flat-gradient-social/48/Twitter-icon.png"></a></p></center>
               
                <p></p>
                <center><a href="#" class="btn btn-secondary">Modificar</a>
                <a href="#" class="btn btn-danger">Borrar</a></center>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>