<div class="modal fade" id="upgradePubModal" tabindex="-1" aria-labelledby="upgradePubModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="upgradePubModalLabel">Mejora tu publicación</h5>
      </div>
      <div class="modal-body">
        <div id="body-content"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>