<div class="bodybox rmServicios">
    <form id="rmServicios" class="formulario" onsubmit="return rmServicios()">
    
        <h4 class="h1">Eliminar un servicio</h4>
        <div class="contenedors">
        
            <div class="input-contenedor">
                <input type="mail" placeholder="Email del Usuario" name="ts" onchange="rmServiciosLoad()" required>
            </div>
            <select class="selectpicker form-control" data-style="input-contenedor" data-width="100%" title="Seleccione el servicio a eliminar" name="servicios" data-live-search="true">
            </select>
            <input type="submit" value="Borrar" class="button">
        </div>
    </form>
</div>