<div class="bodybox rmTipoSalon">
    <form id="rmTipoSalon" class="formulario" onsubmit="return rmTipoSalon()">
    
        <h4 class="h1">Eliminar un tipo de salon</h4>
        <div class="contenedors">
        
            <select class="hidden selectpicker form-control" data-style="input-contenedor" data-width="100%" title="Seleccione el tipo a eliminar" name="ts" data-live-search="true">
            </select>
            <input type="submit" value="Borrar" class="button">
        </div>
    </form>
</div>