<div class="bodybox rmUsuarios">
    <form id="rmUsuarios" class="formulario" onsubmit="return rmUsuarios()">
    
        <h4 class="h1">Eliminar un Usuario</h4>
        <div class="contenedors">
        
            <div class="input-contenedor">
                <input type="email" placeholder="Email del Usuario" name="email" pattern="[a-zA-Z0-9\-_.]{3,20}@[a-zA-Z]{2,10}\.[a-zA-Z\.]{2,8}" required>
            </div>
            <input type="submit" value="Borrar" class="button">
        </div>
    </form>
</div>