<div class="bodybox rmZonas">
    <form id="rmZonas" class="formulario" onsubmit="return rmZonas()">
    
        <h4 class="h1">Eliminar una zona</h4>
        <div class="contenedors">
        
            <div class="input-contenedor">
                <select class="hidden selectpicker form-control" data-style="input-contenedor" data-width="100%" title="Seleccione la zona a eliminar" name="zona" data-live-search="true">
                </select>
            </div>
            <input type="submit" value="Borrar" class="button">
        </div>
    </form>
</div>